src/main/mule/sgst-sd-edi-eapi.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:wss="http://www.mulesoft.org/schema/mule/wss" xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc" xmlns:xml-module="http://www.mulesoft.org/schema/mule/xml-module" xmlns:apikit-soap="http://www.mulesoft.org/schema/mule/apikit-soap" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
http://www.mulesoft.org/schema/mule/apikit-soap http://www.mulesoft.org/schema/mule/apikit-soap/current/mule-apikit-soap.xsd
http://www.mulesoft.org/schema/mule/xml-module http://www.mulesoft.org/schema/mule/xml-module/current/mule-xml-module.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
http://www.mulesoft.org/schema/mule/wss http://www.mulesoft.org/schema/mule/wss/current/mule-wss.xsd">
    <flow name="sgst-sd-edi-eapi-main">
        <http:listener config-ref="sgst-sd-edi-eapi-httpListenerConfig" path="${https.path}">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <ee:transform doc:name="Set TransactionId" doc:id="c0f806b4-cd4e-4885-9768-e26c335bc55e" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="transactionId" ><![CDATA[%dw 2.0
output application/java
---
uuid()]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<apikit:router config-ref="sgst-sd-edi-eapi-config" />
        <error-handler ref="common-exception-handler" />
    </flow>
    <apikit-soap:config name="soapkit-config" port="${3pl.port}" service="${3pl.service}" wsdlLocation="${3pl.wsdl}" soapVersion="SOAP12"/>
    <flow name="sgst-sd-edi-main-3pl">
        <http:listener path="${https.3pl.path}" config-ref="sgst-sd-edi-eapi-httpListenerConfig">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
		<ee:transform doc:name="Set TransactionID" doc:id="a389e633-06a7-4b7a-b6f2-f4f869b5d09b" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="transactionId" ><![CDATA[uuid()]]></ee:set-variable>
				<ee:set-variable variableName="originalPayload" ><![CDATA[payload]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<apikit-soap:router config-ref="soapkit-config">
            <apikit-soap:attributes><![CDATA[#[%dw 2.0
              output application/java
              ---
              {
                  headers: attributes.headers,
                  method: attributes.method,
                  queryString: attributes.queryString
            }]]]></apikit-soap:attributes>
        </apikit-soap:router>
		<error-handler ref="common-soap-exception-handler" />
    </flow>
    <apikit-soap:config name="soapkit-config-currentStock" port="${currentStock.port}" service="${currentStock.service}" wsdlLocation="${currentStock.wsdl}" soapVersion="SOAP12"/>
	<flow name="sgst-sd-edi-main-current-stock" doc:id="e263440c-e9bd-4ae9-ad2c-1711c78b683d">
        <http:listener config-ref="sgst-sd-edi-eapi-httpListenerConfig" path="${https.current-stock.path}">
            <http:response statusCode="#[attributes.additionalTransportData.statusCode default 200]">
                <http:headers><![CDATA[#[attributes.protocolHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[attributes.additionalTransportData.statusCode default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[attributes.protocolHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
		<ee:transform doc:name="Set TransactionID" doc:id="bf805e19-649e-4d1c-a23a-ee0730f2d213" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="transactionId" ><![CDATA[uuid()]]></ee:set-variable>
				<ee:set-variable variableName="originalPayload" ><![CDATA[payload]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<apikit-soap:router config-ref="soapkit-config-currentStock" outputMimeType="application/xml">
            <apikit-soap:message ><![CDATA[#[%dw 2.0
output application/xml
---
payload]]]></apikit-soap:message>
			<apikit-soap:attributes><![CDATA[#[%dw 2.0
              output application/json
              ---
              {
                  headers: attributes.headers,
                  method: attributes.method,
                  queryString: attributes.queryString
            }]]]></apikit-soap:attributes>
        </apikit-soap:router>
		<error-handler ref="common-soap-exception-handler" />
    </flow>
    <flow name="OneRoofRequest:\soapkit-config-currentStock" doc:id="009165c6-812f-468e-81be-f9ea13171c7b">
		<flow-ref doc:name="Route - Implementaation" doc:id="2fe3d75d-1f0d-4eb4-83d9-152a9f4ae552" name="sgst-sd-edi-eapi-impl-current-stock-flow"/>
		<error-handler ref="common-soap-exception-handler" />
    </flow>
    <flow name="DoOwnershipChangeResponse:\soapkit-config">
		<flow-ref doc:name="Route-Implementation" doc:id="ba369284-30b6-451c-a936-512dc321dd93" name="sgst-sd-edi-eapi-impl-3pl-flow"/>
		<error-handler ref="common-soap-exception-handler" />
    </flow>
    <flow name="post:\fpl:multipart\form-data:sgst-sd-edi-eapi-config">
        <flow-ref doc:name="sgst-sd-edi-eapi-impl-flow" doc:id="e2e3a9d7-c864-42ca-9399-5451355ba623" name="sgst-sd-edi-eapi-impl-flow" />
    </flow>
</mule>
