src/main/mule/sgst-sd-edi-eapi.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:apikit-soap="http://www.mulesoft.org/schema/mule/apikit-soap" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
http://www.mulesoft.org/schema/mule/apikit-soap http://www.mulesoft.org/schema/mule/apikit-soap/current/mule-apikit-soap.xsd">
    <flow name="sgst-sd-edi-eapi-main">
        <http:listener config-ref="sgst-sd-edi-eapi-httpListenerConfig" path="${https.path}">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <ee:transform doc:name="Set TransactionId" doc:id="c0f806b4-cd4e-4885-9768-e26c335bc55e" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="TransactionId" ><![CDATA[%dw 2.0
output application/java
---
uuid()]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<apikit:router config-ref="sgst-sd-edi-eapi-config" />
        <error-handler ref="common-exception-handler" />
    </flow>
	<http:listener-config name="api-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8082"/>
    </http:listener-config>
    <apikit-soap:config name="soapkit-config" port="Pana_APAC_OneRoof_WebServices_DoOwnershipChangeResponse_Port" service="Pana_APAC_OneRoof.WebServices.DoOwnershipChangeResponse" wsdlLocation="DoOwnershipChangeResponse.wsdl" soapVersion="SOAP12"/>
    <flow name="api-main">
        <http:listener path="${https.soap.path}" config-ref="sgst-sd-edi-eapi-httpListenerConfig">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit-soap:router config-ref="soapkit-config">
            <apikit-soap:attributes><![CDATA[#[%dw 2.0
              output application/java
              ---
              {
                  headers: attributes.headers,
                  method: attributes.method,
                  queryString: attributes.queryString
            }]]]></apikit-soap:attributes>
        </apikit-soap:router>
		<error-handler ref="common-exception-handler" />
    </flow>
    <flow name="DoOwnershipChangeResponse:\soapkit-config">
		<flow-ref doc:name="Route-Implementation" doc:id="ba369284-30b6-451c-a936-512dc321dd93" name="sgst-sd-edi-eapi-impl-3pl-flow"/>
		<error-handler ref="common-exception-handler" />
    </flow>
	<flow name="sgst-sd-edi-eapi-console">
        <http:listener config-ref="sgst-sd-edi-eapi-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="sgst-sd-edi-eapi-config" />
        <error-handler ref="common-exception-handler" />
    </flow>
    <flow name="post:\fpl:multipart\form-data:sgst-sd-edi-eapi-config">
        <flow-ref doc:name="sgst-sd-edi-eapi-impl-flow" doc:id="e2e3a9d7-c864-42ca-9399-5451355ba623" name="sgst-sd-edi-eapi-impl-flow" />
    </flow>
</mule>
